## Week 1: Data Modeling

In this exercise we are interested in creating a table definition for the `Snow_survey` that is maximally expressive. We will use as much SQL knownledge to define the information within this SQL table.

The [GitHub Repository](https://github.com/UCSB-Library-Research-Data-Services/bren-eds213-data) contains the csv file used for this exercise under `ASDN_Snow_survey.csv`. 

### We will consider the following for the `Snow_survey.csv`

- data types of columns (`TEXT`, `REAL`, `INTEGER`, `DATE`)
- primary key
- foreign key(s)
- null values allowed
- uniqueness constraints, on individual columns across columns
- other column value constraints, on individual columns and across columns

### Let's do some exploration to better define our columns

In [11]:
# Import libraries
import pandas as pd

In [7]:
# Read in the data
snow = pd.read_csv('ASDN_csv/ASDN_snow_survey.csv')

# View first few rows
snow.head(3)

,Site,Year,Date,Plot,Location,Snow_cover,Water_cover,Land_cover,Total_cover,Observer,Notes
0,barr,2011,2011-05-29,brw1,b10,90.0,0.0,10.0,100.0,adoll,NaN
1,barr,2011,2011-05-29,brw1,b12,100.0,0.0,0.0,100.0,adoll,NaN
2,barr,2011,2011-05-29,brw1,b2,90.0,0.0,10.0,100.0,adoll,NaN

In [8]:
# View column types
snow.isnull().sum()

Site               0
Year               0
Date               0
Plot             154
Location           9
Snow_cover         0
Water_cover        0
Land_cover         0
Total_cover        0
Observer           0
Notes          27128
dtype: int64

### Consider the following:

- data types of columns (`TEXT`, `REAL`, `INTEGER`, `DATE`)
- primary key
- foreign key(s)
- null values allowed
- uniqueness constraints, on individual columns across columns
- other column value constraints, on individual columns and across columns

### Data Types
Columns within the dataframe can be expressed as the following in `SQL`
- `Site`: TEXT
- `Year`: INTEGER
- `Date`: DATE
- `Plot`: TEXT
- `Location`: TEXT
- `Snow_cover`: REAL
- `Water_cover`: REAL
- `Land_cover`: REAL
- `Total_cover`: REAL
- `Observer`: TEXT
- `Notes`: TEXT

### Primary Key
From the dataframe, it looks like we don't have one column that represents the primary key. It is more than likely composed of multiple columns. 
There are four columns that are likely to be part of the primary key: `Site`, `Date`, `Plot`, and `Location`. These columns together represent a unique observation of snow survey data.

### Foreign Key(s)
There are most likely a multitude of foreign keys. These foreign keys include `Site`, `Plot`, `Location`, and `Observer`. All four of these columns could have another table that gives more information about them. For example, `Site` could have information such as Continent, County, Coordinates, Average Temperature, etc. Likewise, all four columns could potentially have more information about them. 

### Null Values
Yes, null values are allowed. One of the columns that partically has a lot of them is `Notes`. Most of the observations don't have notes within them, meaning they will contain Null values. This is okay as they are not necessary. 

### Uniqueness Constraints
I don't think any columns have uniqueness in there values. From the `head` of our data, it suggests that each column has repetitive values. For example, we can see that `Site` is repeated all three times when viewing the `head` of the dataframe. Location has three different outputs for the three observations, however, it may be safe to say that they will be repeated as this is time series data. 

### Other Constraints
Another constraint that can be viewed in a relational database is value constraints. This means that the output value has to be confined between a specific range. In our data here, we see this in the `cover` columns. This is because these represent percentage cover, meaning that they are values from 0 - 100%.

### SQL Table
From our exploratory analysis and the reasoning explain above, I believe the SQL code will have an output similiar to the following:

CREATE TABLE Snow_survey (
    Site TEXT NOT NULL,
    Year INTEGER CHECK (Year > 0),
    Date DATE NOT NULL,
    Plot TEXT,
    Location TEXT,
    Snow_cover REAL CHECK (Snow_cover >= 0 AND Snow_cover <= 100),
    Water_cover REAL CHECK (Water_cover >= 0 AND Water_cover <= 100),
    Land_cover REAL CHECK (Land_cover >= 0 AND Land_cover <= 100),
    Total_cover REAL CHECK (Total_cover >= 0 AND Total_cover <= 100),
    Observer TEXT NOT NULL,
    Notes TEXT,
    FOREIGN KEY (Observer) REFERENCES Observers(Observer_ID),
    FOREIGN KEY (Site) REFERENCES Sites(Site_ID),
    FOREIGN KEY (Plot) REFERENCES Plots(Plot_ID),
    FOREIGN KEY (Location) REFERENCES Locations(Location_ID)
)